fastapi==0.115.12
uvicorn[standard]==0.34.2
motor==3.7.0
pydantic==2.11.4
pydantic-settings==2.9.1
python-multipart==0.0.20
PyJWT==2.10.1
PyYAML==6.0.2
PyMuPDF==1.25.5
pdfplumber==0.11.6
pdf2image==1.17.0
opencv-python-headless==4.11.0.86
pytesseract==0.3.13
openpyxl==3.1.5
reportlab==4.4.0
